$white-50: #fafafa;
$white-70: #9e9e9e;
$white: #ffff;

$dark-70: #b7b7b7;
$dark-50: #6e6e6e;
$dark-30: #8e8e8e;
$dark: #333;

$primary: #1344ad;
$secondary: #ff4c3b;
$light: #f4f4f4;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
