  <div class="background-image"></div>
  <div class="background"></div>
<div class="">
  <div class="d-flex justify-content-center align-items-center h-100vh">
    <div class="row" style="z-index: 999;">
      <div class="col-12 d-flex justify-content-center align-items-center">

        <div class="card p-4 bg-primary h-100" style="width: 900px;" *ngIf="!this.displayRegistration">
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-6">
                <h5 class="card-title text-center fw-bold">Login</h5>
                <form (submit)="login()">
                  <div class="form-group mt-">
                    <label for="username">Usuário</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username"
                      [(ngModel)]="this.username" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group mt-3">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter password"
                      [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <button type="submit" class="btn btn-dark btn-block mt-3 w-100">Entrar</button>
                  <div class="form-check mt-3">
                    <input type="checkbox" class="form-check-input" id="rememberMe" [(ngModel)]="this.rememberMe" [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label" for="rememberMe">Permanecer conectado</label>
                  </div>
                </form>
              </div>

              <div class="col-1"></div>

              <div class="col-5 d-flex align-items-center">
                <div>
                  <h5 class="card-title text-center fw-bold">Não possui conta?</h5>
                  <p class="card-text text-center">Crie uma conta para ter acesso a todos os recursos do sistema.</p>
                  <button class="btn btn-warning btn-block mt-3 w-100 fw-bold" (click)="this.displayRegistration = !this.displayRegistration">Cadastrar</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <app-register [display]="this.displayRegistration" (setDisplay)="this.setDisplay()"></app-register>
      </div>
    </div>
  </div>
