<div class="sidebar sidebar-open" *ngIf="this.displaySideBar">
    <div class="p-3">
      <fa-icon (click)="this.closeSideBar()" class="c-pointer" [icon]="['fas', 'bars']"></fa-icon>
    </div>

    <div class="sidebar-content">
        <ul>
            <li class="px-2"><fa-icon [icon]="['fas', 'house']"></fa-icon>  Início</li>
            <li class="px-2"><fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>  Receitas</li>
            <li class="px-2"><fa-icon [icon]="['fas', 'coins']"></fa-icon>  Despesas</li>
            <li class="px-2"><fa-icon [icon]="['fas', 'right-from-bracket']"></fa-icon>  Sair</li>
        </ul>
    </div>
</div>
