/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'assets/scss/themes.scss';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.text-primary {
  color: $dark-50 !important;
  font-family: 'Roboto', sans-serif !important;
}

.text-light {
  color: $white-50 !important;
  font-family: 'Roboto', sans-serif !important;
}

.text-yellow {
  color: $warning !important;
  font-family: 'Roboto', sans-serif !important;
}

.c-pointer{
  cursor: pointer;
}

/* Checkbox. */
.form-check-input:checked {
  background-color: $warning !important;
  border-color: $warning !important;
}

/* End of Checkbox. */

/* Buttons. */

.btn-primary{
  background-color: $primary !important;
  border-color: $primary !important;
  color: $white !important;

  &:hover{
    background-color: darken($primary, 10%) !important;
    border-color: darken($primary, 10%) !important;
  }
}

.btn-secondary{
  background-color: $secondary !important;
  border-color: $secondary !important;
  color: $white !important;

  &:hover{
    background-color: darken($secondary, 10%) !important;
    border-color: darken($secondary, 10%) !important;
  }
}

.btn-dark{
  background-color: $dark !important;
  border-color: $dark !important;
  color: $white !important;

  &:hover{
    background-color: lighten($dark, 10%) !important;
    border-color: lighten($dark, 10%) !important;
  }
}

.btn-light{
  background-color: $light !important;
  border-color: $light !important;
  color: $dark !important;

  &:hover{
    background-color: darken($light, 10%) !important;
    border-color: darken($light, 10%) !important;
  }
}

.btn-success{
  background-color: $success !important;
  border-color: $success !important;
  color: $white !important;

  &:hover{
    background-color: darken($success, 10%) !important;
    border-color: darken($success, 10%) !important;
  }
}

.btn-danger{
  background-color: $danger !important;
  border-color: $danger !important;
  color: $white !important;

  &:hover{
    background-color: darken($danger, 10%) !important;
    border-color: darken($danger, 10%) !important;
  }
}

.btn-warning{
  background-color: $warning !important;
  border-color: $warning !important;
  color: $dark !important;

  &:hover{
    background-color: darken($warning, 10%) !important;
    border-color: darken($warning, 10%) !important;
  }
}

.btn-info{
  background-color: $info !important;
  border-color: $info !important;
  color: $white !important;

  &:hover{
    background-color: darken($info, 10%) !important;
    border-color: darken($info, 10%) !important;
  }
}

/* End of buttons. */

.bg-primary {
  background-color: $white-50 !important;
}

.bg-secondary {
  background-color: $dark-70!important;
}

.h-100{
  height: 100%!important;
}

.h-100vh{
  height: 100vh!important;
}
